<%- include('partials/header') %>

<h1 id="textLarge">Kamrun Nahar</h1>

<img class="center" src="/images/nahar.jpg" width="300" height="300" alt="kamrun">
    
<div id="aboutText">
    Hello, I'm Kamrun Nahar. I am  a student of Artificial Intelligence-Software Engineering Technology.
    I have a strong interest in developing software, designing websites, and advancing technology.
</div>

<button type="button">
    <a id="aboutText" class="btn btn-xl btn-outline-dark" href="images/resume.pdf">
        <i class="fas fa-download me-2 "></i>
        Download My Resume
    </a>
</button>

<%- include('partials/footer') %>
