<%- include('partials/header') %>
    
<h1 id="textLarge">Welcome to Kamrun Nahar's portfolio page</h1>
<br>
<br>     
<img class="center" src="/images/nahar.jpg" width="300" height="300" alt="Kamrun">
  
<!-- Mission statement -->
<h2 id="textLarge"> Mission</h2>
<div id="aboutText"> 
    My mission is to develop accessible projects that are both effective and useful for people with and without disabilities, and that solve real-life and business problems.
</div>
<br>
<br>
  
<%- include('partials/footer') %>
